* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

:root {
  --warna-bg: #0abab5;
  --warna-semi-bg: #56dfcf;
  --warna-semi-semi-bg: #adeed9;
  --warna-black: #000000;
  --warna-white: #ffffff;
  --regis: #0bb539;
  --reset: #c41411;
}

body {
  background-color: var(--warna-bg);
  padding-bottom: 800px;
}

/* navbar-all */
.navbar {
  background-color: var(--warna-semi-semi-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar img {
  width: 50px;
  border-radius: 50%;
}

.navbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar .search input {
  border: 2px solid var(--warna-semi-semi-bg);
  height: 30px;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navbar .search button {
  border: none;
  overflow: hidden;
  padding: 7px;
  border-radius: 10px;
}

.navbar .search button i {
  font-size: 20px;
}

.navbar .search button i:hover {
  color: var(--regis);
  cursor: pointer;
}

/* profile user */
.profile-users {
  background-color: #eeecec;
  max-width: 50%;
  margin: 10px auto;
  padding: 10px;
}
.profile-users p {
  text-align: center;
  background-color: #d1cdcd;
  margin: 10px;
  max-width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 20px 0px 30px 0px;
}
.profile-users img {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-radius: 10px;
}

.profile-users h3 {
  text-align: justify;
  color: var(--regis);
  margin: 10px;
}

.profile-users-two {
  background-color: #eeecec;
  max-width: 50%;
  margin: 10px auto;
  padding: 10px;
}

.profile-users-two p {
  text-align: center;
  background-color: #d1cdcd;
  margin: 10px;
  max-width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 20px 0px 30px 0px;
  color: var(--reset);
}

.profile-users-two h1 {
  text-align: center;
  color: var(--regis);
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

/* main-menu */
/* button menu */
section.main-menu .menu-button {
  max-width: 50%;
  margin: 20px auto;
}

.main-menu h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--warna-black);
  max-width: 50%;
  margin: 10px auto;
  background-color: var(--warna-semi-bg);
  padding: 10px;
}

.main-menu .menu-button {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.main-menu .menu-button button {
  border: 2px solid var(--warna-semi-bg);
  background-color: var(--warna-black);
  color: var(--warna-white);
  text-shadow: 1px 4px 9px var(--warna-semi-semi-bg);
  font-size: 20px;
  padding: 20px;
  border-radius: 10px 0px 10px 0px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  flex-grow: 1;
}

.main-menu .menu-button button:hover {
  background-color: #1f1e1e;
  text-shadow: 1px 4px 9px var(--warna-semi-semi-bg);
}

/* css menambahkan buku */
.edited-add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  background-color: var(--warna-semi-semi-bg);
  margin: 10px auto;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.edited-add-book label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  background-color: var(--warna-semi-bg);
  text-shadow: 1px 4px 9px var(--warna-semi-semi-bg);
  padding: 5px;
  height: 30px;
  border-radius: 10px 0px 10px 0px;
  width: 100%;
  font-style: italic;
}

.edited-add-book input {
  width: 100%;
  font-size: 20px;
  height: 30px;
  padding: 5px;
  border: 2px solid var(--warna-black);
  border-radius: 10px 0px 10px 0px;
}

.edited-add-book button {
  padding: 10px;
  border: 2px solid var(--warna-black);
  background-color: var(--regis);
  color: var(--warna-white);
  border-radius: 10px 0px 10px 0px;
  font-size: 16px;
}

.edited-add-book button:hover {
  background-color: #0c9731;
  cursor: pointer;
}

/* css untuk  menampilkan buku */
.show-book {
  max-width: 50%;
  margin: 10px auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--warna-black);
  color: var(--warna-white);
}

.edited-show-book table {
  width: 100%;
  background-color: var(--warna-white);
  color: black;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--warna-black);
}
.show-book .edited-show-book table th {
  background-color: lightgray;
}
.show-book .edited-show-book table td {
  background-color: lightblue;
}

.edited-show-book h2 {
  text-align: center;
  background-color: var(--reset);
  padding: 10px;
  color: white;
}

/* footer */
/* section.footer {
  background-color: var(--warna-semi-semi-bg);
  color: var(--warna-white);
  text-shadow: 1px 4px 9px var(--warna-black);
  text-align: center;
  padding: 20px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  word-spacing: 5px;
} */

/* @media screen and (max-width: 440px) {
  .profile-users {
    max-width: 80%;
  }

  .profile-users-two {
    max-width: 80%;
  }
} */

@media screen and (max-width: 550px) {
  .profile-users {
    max-width: 90%;
  }

  .profile-users-two {
    max-width: 90%;
  }
  .edited-add-book {
    max-width: 90%;
  }
  section.main-menu .menu-button {
    max-width: 90%;
    margin: 20px auto;
  }
  .main-menu h3 {
    max-width: 90%;
  }
}
