* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

:root {
  --warna-bg: #0abab5;
  --warna-semi-bg: #56dfcf;
  --warna-semi-semi-bg: #adeed9;
  --warna-black: #000000;
  --warna-white: #ffffff;
  --regis: #0bb539;
  --reset: #c41411;
}

body {
  background-color: var(--warna-bg);
}

/* navbar-all */
.navbar {
  background-color: var(--warna-semi-semi-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar img {
  width: 50px;
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: var(--warna-black);
  text-decoration: none;
}

.navbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar .search input {
  border: 2px solid var(--warna-semi-semi-bg);
  height: 30px;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navbar .search button {
  border: none;
  overflow: hidden;
  padding: 7px;
  border-radius: 10px;
}

.navbar .search button i {
  font-size: 20px;
}

.navbar .search button i:hover {
  color: var(--regis);
  cursor: pointer;
}

/* profile user */
.profile-users {
  background-color: #eeecec;
  max-width: 50%;
  margin: 10px auto;
  padding: 10px;
}
.profile-users p {
  text-align: center;
  background-color: #d1cdcd;
  margin: 10px;
  max-width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 20px 0px 30px 0px;
}
.profile-users img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 30px 0px 30px 0px;
}

.profile-users h3 {
  text-align: justify;
  color: var(--regis);
  margin: 10px;
}

.profile-users-two {
  background-color: #eeecec;
  max-width: 50%;
  margin: 10px auto;
  padding: 10px;
}

.profile-users-two p {
  text-align: center;
  background-color: #d1cdcd;
  margin: 10px;
  max-width: 100%;
  padding: 12px;
  font-weight: bold;
  border-radius: 20px 0px 30px 0px;
  color: var(--reset);
}

.profile-users-two h1 {
  text-align: center;
  color: var(--regis);
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

@media screen and (max-width: 440px) {
  .profile-users {
    max-width: 80%;
  }

  .profile-users-two {
    max-width: 80%;
  }
}
