* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --warna-bg: #0abab5;
  --warna-semi-bg: #56dfcf;
  --warna-semi-semi-bg: #adeed9;
  --warna-black: #000000;
  --warna-white: #ffffff;
  --regis: #0bb539;
  --reset: #c41411;
}

body {
  background-color: var(--warna-bg);
}

/* navbar area */
.navbar {
  background-color: var(--warna-semi-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar img {
  width: 50px;
  border-radius: 50%;
}

.navbar ul {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: var(--warna-black);
  text-decoration: none;
}

.navbar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar .search input {
  border: 2px solid var(--warna-semi-semi-bg);
  height: 30px;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navbar .search button {
  border: none;
  overflow: hidden;
  padding: 7px;
  border-radius: 10px;
}

.navbar .search button i {
  font-size: 20px;
}

.navbar .search button i:hover {
  color: var(--regis);
  cursor: pointer;
}
