:root {
  --warna-bg: #0abab5;
  --warna-semi-bg: #56dfcf;
  --warna-semi-semi-bg: #adeed9;
  --warna-black: #000000;
  --warna-white: #ffffff;
  --regis: #0bb539;
  --reset: #c41411;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: var(--warna-bg);
}

.card-container {
  margin: 95px auto;
  background-color: var(--warna-semi-bg);
  max-width: 40%;
  border-radius: 20px 0px 20px 0px;
}

.card-container h1 {
  font-style: italic;
  text-shadow: 1px 1px 2px var(--warna-semi-bg);
  text-align: center;
  background-color: var(--warna-semi-semi-bg);
  overflow: hidden;
  border-radius: 20px 0px 20px 0px;
  color: var(--warna-white);
  padding: 20px;
}

.card-container .input-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-container .input-users input {
  border: 3px solid var(--warna-semi-semi-bg);
  border-radius: 10px;
  height: 38px;
  width: 300px;
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
  padding: 10px;
}

.card-container .input-users .fa {
  background-color: var(--warna-white);
  font-size: 26px;
  padding: 0.3em;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.btn button.regis {
  margin-bottom: 10px;
  border: none;
  background-color: var(--regis);
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.btn button.reset {
  margin-bottom: 10px;
  border: none;
  background-color: var(--reset);
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.register-menu a {
  text-decoration: none;
  text-align: center;
  display: flex;
  margin: 15px;
  font-weight: bold;
  color: blue;
}

@media screen and (max-width: 900px) {
  .card-container {
    max-width: 70%;
  }
}
@media screen and (max-width: 545px) {
  .card-container {
    max-width: 90%;
  }
  .card-container .input-users {
    gap: 10px;
  }
}
@media screen and (max-width: 353px) {
  .card-container {
    max-width: 90%;
  }
  .card-container .input-users input {
    gap: 10px;
    max-width: 200px;
  }
}
